body {
    margin: 0;
    padding: 0;
    background-color: #3b3a3a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    line-height: 1.6875;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: table;
}

/* top nav */
#nav-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #1e3452;
}

#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: inherit;
}

#nav-main-menu li {
    float: left;
    width: 25%;
    height: inherit;
    text-align: center;
    border-right: 1px solid #000;
}

#nav-main-menu li:last-child {
    border-right: none;
}

#nav-main-menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 215%;
    line-height: 40px;
    color: aliceblue;
}

.active {
    background-color: #135e8d;
}

/* header section */
#page-intro {
    background-color: #fafbef;
    width: 90%;
    margin: 0 auto 1% auto;
    padding-bottom: 1%;
}

.brand-logo-frame {
    height: 50px;
    width: 45%;
    max-width: 45%;

    float: left;
    display: block;
    background-color: #131313;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    left: -3%;
}

.brand-logo-frame a {
    width: inherit;
}

.brand-logo-frame img {
    max-height: 100%;
    width: auto;
}

.brand-title-frame {
    width: 68%;
    float: right;
    position: relative;
    top: 0;
    margin-top: -1.4%;
    margin-bottom: 4%;

    margin-right: -3%;
    background-color: #bac2d4;
}

.brand-title {
    color: #135e8d;
    font-size: 1.5em;
    padding: 1rem 2rem 1rem 5rem;
}

.brand-face-frame {
    width: 20%;
    float: right;
    position: relative;
    right: -2%;
    margin-top: -6%;
}

.brand-face-img {
    font-display: block;
    width: 100%;
    height: auto;
}

.info-content {
    width: 87%;
    float: left;
    position: relative;
    left: -2%;
    margin-top: -10%;
}

.info-content>p {
    background-color: #63a7d2;
    margin-bottom: 5px;
    font-size: 130%;
    font-weight: 600;
    padding: 1% 3%;
    text-align: justify;
}

/* main section */
#main-content-wrapper {
    background-color: #fafbef;
    width: 90%;
    margin: 0 auto 1% auto;
}

#main-section {
    margin: 0 5% 0 5%;
}

.columns-3 {
    float: left;
    width: 33.333333%;
    padding: 1% 0.5% 1% 0.5%;
}

.columns-3-frame {
    border: 2px solid #fafbef;
}

.column-button {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #1e3452;
}

.column-background {
    background-image: url("../images/column-background.png");
}

.nav-button {
    text-decoration: none;
}

.nav-button h2 {
    font-weight: bolder;
    font-size: 1.6em;
    text-align: center;
    padding: 2%;
    background-color: #6388b7;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: #1e3452;
    text-align: center;
}

/* footer section */
#footer-section {
    padding-bottom: 10px;
    margin: 0 5% 0 5%;
    position: relative;
    top: 0;
}

#message {
    width: 90%;
    max-width: 90%;
}

#footer-left {
    float: left;
    width: 50%;
}

#footer-right {
    float: left;
    width: 50%;
}

footer h2 {
    color: aliceblue;
    text-align: center;
}

#contact-form {
    background-color: #fafbef;
    padding: 15px;
}

#footer-tools {
    width: 80%;
    margin: auto;

    list-style-type: none;
}

#footer-tools a {
    text-decoration: none;
    color: aliceblue;
    font-size: 130%;
    text-align: center;
}

#footer-tools img {
    width: 64px;
    height: auto;
}

#copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    color: aliceblue;
    text-align: right;
}